@use '../abstracts' as *;

.card {
  color: #fff;
  border-radius: 1.5rem;
  padding-top: 3.8rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top -1.1rem right 1.7rem;
  cursor: pointer;

  @media (min-width: $breakpoint-xlg) {
    padding-top: 4.5rem;
  }

  &:hover .card__content {
    background-color: $clr-body-hover;
  }

  &__content {
    display: grid;
    grid-template: auto / 1fr max-content;
    gap: 1.5rem;
    grid-template-areas:
      'time-category options'
      'current-hours past-hours';
    align-items: center;
    background-color: $clr-card-body;
    padding: 3rem 2.4rem;
    border-radius: 1.5rem;
    transition: 0.3s ease-in-out;

    @media (min-width: $breakpoint-xlg) {
      grid-template: 1.8rem 1fr 1.5rem / 1fr 1fr;
      grid-template-areas:
        'time-category options'
        'current-hours current-hours'
        'past-hours past-hours';
      gap: 0;
      height: 100%;
    }

    .card__title {
      grid-area: time-category;
      font-size: 1.8rem;
      font-weight: $fw-medium;
    }

    .card__options {
      grid-area: options;
      justify-self: flex-end;
      padding: 1rem 0 1rem 1rem;
      transition: 0.3s ease-in-out;
    }

    .card__options:hover {
      filter: brightness(200%);
      transform: scale(1.1);
      transform-origin: right;
    }

    .card__current-hours {
      grid-area: current-hours;
      font-size: 3.2rem;
      font-weight: $fw-light;
      line-height: 0;

      @media (min-width: $breakpoint-xlg) {
        align-self: end;
        font-size: 5.6rem;
        line-height: normal;
      }
    }

    .card__past-hours {
      grid-area: past-hours;
      justify-self: flex-end;
      font-size: 1.5rem;
      font-weight: $fw-regular;
      color: $clr-card-text;

      @media (min-width: $breakpoint-xlg) {
        justify-self: flex-start;
      }
    }
  }

  &.work {
    background-color: $clr-work;
    background-image: url('../../images/icon-work.svg');
  }

  &.play {
    background-color: $clr-play;
    background-image: url('../../images/icon-play.svg');
  }
  &.study {
    background-color: $clr-study;
    background-image: url('../../images/icon-study.svg');
  }
  &.exercise {
    background-color: $clr-exercise;
    background-image: url('../../images/icon-exercise.svg');
  }
  &.social {
    background-color: $clr-social;
    background-image: url('../../images/icon-social.svg');
  }
  &.selfcare {
    background-color: $clr-selfcare;
    background-image: url('../../images/icon-self-care.svg');
  }
}
