@use '../abstracts' as *;

.card {
  color: #fff;
  border-radius: 1.5rem;
  padding-top: 3.8rem;
  margin-bottom: 2.4rem;
  width: 100%;

  &.profile {
    background: $clr-card-profile-tabs;
    padding: 0;

    .card__header {
      display: flex;
      background: $clr-card-profile-header;
      border-radius: 1.5rem;
      padding: 3rem;

      img {
        width: 6.4rem;
        height: 6.4rem;
        box-shadow: 0 0 0 3px white;
        border-radius: 50%;
        margin-right: 2rem;
      }

      &-text {
        p {
          color: $clr-card-text;
          font-size: 1.5rem;
        }
        h2 {
          font-size: 2.4rem;
          font-weight: $fw-light;
        }
      }
    }

    .card__tabs {
      display: flex;
      justify-content: space-between;
      padding: 2.5rem 3rem;

      a {
        text-decoration: none;
        color: $clr-card-profile-tabs-text;
        font-weight: $fw-light;

        &:hover {
          color: white;
        }

        &.active {
          color: white;
        }
      }
    }
  }

  &.time {
    background-repeat: no-repeat;
    background-position: top -1.1rem right 1.7rem;

    .card__content {
      display: flex;
      background-color: $clr-card-body;
      flex-direction: column;
      padding: 2.8rem 2.4rem;
      border-radius: 1.5rem;

      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
          font-size: 1.8rem;
          font-weight: $fw-medium;
        }
      }

      &-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.25rem;

        h4 {
          font-size: 3.2rem;
          font-weight: $fw-light;
          line-height: 0;
        }

        p {
          font-size: 1.5rem;
          font-weight: $fw-regular;
          color: $clr-card-text;
        }
      }
    }

    &.work {
      background-color: $clr-work;
      background-image: url('../../images/icon-work.svg');
    }

    &.play {
      background-color: $clr-play;
      background-image: url('../../images/icon-play.svg');
    }
    &.study {
      background-color: $clr-study;
      background-image: url('../../images/icon-study.svg');
    }
    &.exercise {
      background-color: $clr-exercise;
      background-image: url('../../images/icon-exercise.svg');
    }
    &.social {
      background-color: $clr-social;
      background-image: url('../../images/icon-social.svg');
    }
    &.selfcare {
      background-color: $clr-selfcare;
      background-image: url('../../images/icon-self-care.svg');
    }
  }
}
