@use '../abstracts' as *;

.card {
  color: #fff;
  border-radius: 1.5rem;
  padding-top: 3.8rem;
  margin-bottom: 2.4rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top -1.1rem right 1.7rem;
  cursor: pointer;

  &:hover .card__content {
    background-color: $clr-body-hover;
  }

  &__content {
    display: flex;
    background-color: $clr-card-body;
    flex-direction: column;
    padding: 2.8rem 2.4rem;
    border-radius: 1.5rem;
    transition: 0.3s ease-in-out;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-size: 1.8rem;
        font-weight: $fw-medium;
      }

      .icon-ellipsis {
        padding: 1rem 0 1rem 1rem;
        transition: 0.3s ease-in-out;
      }

      .icon-ellipsis:hover {
        filter: brightness(200%);
        transform: scale(1.1);
        // transform-origin: right;
      }
    }

    &-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1.25rem;

      h4 {
        font-size: 3.2rem;
        font-weight: $fw-light;
        line-height: 0;
      }

      p {
        font-size: 1.5rem;
        font-weight: $fw-regular;
        color: $clr-card-text;
      }
    }
  }

  &.work {
    background-color: $clr-work;
    background-image: url('../../images/icon-work.svg');
  }

  &.play {
    background-color: $clr-play;
    background-image: url('../../images/icon-play.svg');
  }
  &.study {
    background-color: $clr-study;
    background-image: url('../../images/icon-study.svg');
  }
  &.exercise {
    background-color: $clr-exercise;
    background-image: url('../../images/icon-exercise.svg');
  }
  &.social {
    background-color: $clr-social;
    background-image: url('../../images/icon-social.svg');
  }
  &.selfcare {
    background-color: $clr-selfcare;
    background-image: url('../../images/icon-self-care.svg');
  }
}
